.eidya {
  background: #2a47bf;
  color: #ffffff;
  width: 440px;
  border-radius: 5px;
  font-weight: 800;
  padding-top: 29px;
  padding-bottom: 29px;
  text-align: center;
  font-size: 18px;
}

.kakao {
  background-color: yellow;
  color: black;
  width: 440px;
  border-radius: 5px;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 15px;
}
.naver {
  background-color: yellowgreen;
  color: white;
  width: 440px;
  border-radius: 5px;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 15px;
}
.sbak {
  background-color: green;
  color: white;
  width: 440px;
  border-radius: 5px;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 15px;
}
.button1{
    background-color: yellowgreen;
    color: white;
    width: 150px;
    border-radius: 5px;
    font-weight:50;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 18px;
  }
  .button2{
    background-color: gray;
    color: white;
    width: 90px;
    border-radius: 5px;
    font-weight:30;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 18px;
  }
}