.header{
    /* vw? 브라우저의 크기의 비율*/
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navi{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.logbox{
    height:200%;
    width: 100px;
}
.logbox > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.icon{
    width: 80px;
    height: 80px;
    border-radius: 9999px;
    border: 2px solid black;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.icon > i{
    font-size: 30px;

}