.sale {
  background-color: red;
  border-radius: 20px;
  color: white;
  width: fit-content;
  padding: 3px 8px 3px 8px;
}
.factory {
  color: white;
  font-weight: 800px;
  background-color: darkblue;
  width: 250px;
  text-align: center;
  padding: 10 0 10 0;
  border: 1 solid red;
}
